# .gitignore

# .env files
**/.env

# venv
.venv/
**/venv/

# key files
**/*.key
**/*.pem
**/*.crt
**/*.csr

# os files
.DS_Store

# ide files
.idea/
.vscode/

# build files
bin/

# genarated documents
docs/build/

